
.title-slide hgroup h1 {
    font-size: 45px !important;
}

article > ul {
    padding-left: 0px;
    margin-left: 0px;
}

article ul > li {
    list-style: none;
    list-style-type: none;
    margin-bottom: 1em;
}

article ul li ul li {
    list-style: none;
    list-style-type: none;
    margin-bottom: 0.5em;
}

article ul > li:before {
    content: "";
}

.outlineHighlight {
    font-weight: bold;
    font-size: 120%;
}

.quoteLink {
    padding-left: 0px;
    padding-top: 20px;
}

.quoteLink a, .thank-you-slide a {
    color: deepskyblue;
    border-bottom: 2px solid deepskyblue;
    text-decoration: none;
}

.mono {
    font-family: monospace;
}

.padLeft {
    padding-left:  15px;
}

.padRight {
    padding-right: 15px;
}

slide article pre[data-lang].plain:after{
    content: 'OUTPUT'
}

slide article pre.plain span.kwd,
slide article pre.plain span.typ {
    color: #515151 !important;
}

slides slide.thank-you-slide {
    background: #797979 !important;
}

aside.gdbar {
    width: 265px !important;
    height: 83px !important;
    background: #797979 !important;
}

aside.gdbar img {
    width: auto !important;
    height: auto !important;
    margin: 15px 20px !important;
}

